
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qmake.stash
*.o
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/InformationSystemMail.exe
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_MainController.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_predefs.h
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_SignIn.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/qrc_qml.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_mainwindow.h
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp6baqjy
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp7o8clm
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp95anrh
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpdfalqb
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpphfzum
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpriafl2
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpse3vgt
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpsxkqbq
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpvsgofx
New_ver/InformationSystemMail/InformationSystemMail.pro.user
src/MailInformationSystem.pro.user
src/MailInformationSystem.pro.user
src/MailInformationSystem.pro.user
*.user
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmplxolgr
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/.qmake.stash
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/InformationSystemMail.exe
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_MainController.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_mainwindow.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_predefs.h
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/moc_SignIn.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/debug/qrc_qml.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/Makefile
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/Makefile.Debug
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/Makefile.Release
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/usersstingerappdatalocaltemptmpkizexn
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp1533cu
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp2nuq2s
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp2qljkw
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp3cexkz
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp9nreph
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp_b5sb4
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpdglp8t
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpdqyrrm
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpejsx6l
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmph5ckjz
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpit8gqa
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpm5owqv
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpmellka
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpp0ner8
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpqj_ivj
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpqqlc4b
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpslswcd
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpt3s1it
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpzejt6w
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpzmdqqy
