
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qmake.stash
*.o
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/InformationSystemMail.exe
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_MainController.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_predefs.h
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_SignIn.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/qrc_qml.cpp
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_mainwindow.h
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp6baqjy
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp7o8clm
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmp95anrh
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpdfalqb
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpphfzum
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpriafl2
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpse3vgt
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpsxkqbq
New_ver/build-InformationSystemMail-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersstingerappdatalocaltemptmpvsgofx
New_ver/InformationSystemMail/InformationSystemMail.pro.user
src/MailInformationSystem.pro.user
src/MailInformationSystem.pro.user
src/MailInformationSystem.pro.user
*.user
